/** dashboard.less */

.dashboard {
    padding: 10px;
    border-radius: 20px;
    background-color: #333;
    text-align: center;
    >a {
        display: inline-block;
        width: 125px;
        height: 123px;
        padding: 10px;
        margin: 3px 3px 8px 3px;
        background-color: #eee;
        border-radius: 10px;
        text-align: center;
        font-family: 'Podkova', verdana, sans-serif;
        font-size: 20px;
        &:before {
            display: block;
            margin: 5px auto 0 auto;
            font-size: 72px;
            line-height: 1;
        }
    }
    >div.dismiss-button {
        text-align: right;
        margin: -17px -17px 0 0; // responsive
        >a {
            display: inline-block;
            padding: 0 2px 2px 2px; // responsive
            text-align: center;
            border-radius: 999px;
            border: 3px solid #008CBA; // responsive
            background-color: #333;
            font-size: 24px; // responsive
            line-height: 1;
            font-weight: bold;
            transition: border-color .2s ease-out, color .2s ease-out;
            &:hover {
                border-color: #d0d;
            }
            >span {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (min-width: 40.063em) {
    .dashboard {
        margin-top: 40px;
        border-radius: 40px;
        >a {
            width: 250px;
            height: 246px;
            padding: 20px;
            margin: 6px 6px 16px 6px;
            border-radius: 20px;
            font-size: 40px;
            &:before {
                margin: 10px auto 0 auto;
                font-size: 144px;
                line-height: 1.1;
            }
        }
        >div.dismiss-button {
            margin: -20px -20px 0 0; // responsive
            >a {
                padding: 0 5px 6px 6px; // responsive
                border: 5px solid #008CBA; // responsive
                font-size: 48px; // responsive
            }
        }
    }
}