/** dashboard.less */

.dashboard {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    >a, div.message {
        display: inline-block;
        margin: 3px 3px 8px 3px;
        background-color: #eee;
        border-radius: 10px;
    }
    div.message {
        width: 262px; // 125 + 125 + 3px + 3px
        min-height: 123px;
        padding: 10px 12px 10px 15px;
        color: #333;
        p {
            text-align: left;
            font-size: .8rem;
        }
    }
    >a {
        width: 125px;
        height: 123px;
        padding: 10px 5px;
        text-align: center;
        font-family: 'Podkova', verdana, sans-serif;
        font-size: 18px;
        line-height: 1;
        &:before {
            display: block;
            margin: 5px auto 0 auto;
            font-size: 72px;
            line-height: 1;
        }
    }
}

@media only screen and (min-width: 40.063em) {
    .dashboard {
        >a, div.message {
            margin: 6px 6px 16px 6px;
            border-radius: 20px;
        }
        div.message {
            width: 512px; // 250 + 250 + 6px + 6px
            min-height: 246px;
            padding: 20px 24px 20px 30px;
            h3 {
                font-size: 2rem;
                margin-bottom: .5em;
            }
            p {
                font-size: 1rem;
            }
        }
        >a {
            width: 250px;
            height: 246px;
            padding: 20px 10px;
            font-size: 36px;
            &:before {
                margin: 10px auto 0 auto;
                font-size: 144px;
                line-height: 1.1;
            }
        }
    }
}