/** layout.less */


/* Color */
html, body {
    background-color: #000;
    color: #ccc;
    .ldc-copyright span {
        color: #444;
    }
}



/* Typography */

// @import url(http://fonts.googleapis.com/css?family=Podkova:400,700);
@import url(http://fonts.googleapis.com/css?family=Podkova:400);

body {
    font-family: verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, button, .button, #header, #footer {
    font-family: 'Podkova', verdana, sans-serif;
    font-weight: 400;
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6 {
    color: #2285a2;
    text-align: center;
}
p {
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: center;
}
a {
    transition: color .2s ease-out; // 'ease-out' for sudden start and slow finish
    &:hover {
        color: #d0d;
    }
}
button, .button {
    transition: background-color .2s ease-out; // 'ease-out' for sudden start and slow finish
    &:hover {
        background-color: #808;
    }
}
a.active, a.active:hover {
    color: #333;
    cursor: default;
    // &[href$='dashboard'] {
    //     display: none;
    // }
}




//// The <iframe> containing the app.
#iframe-blocker.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(.2,.2,.2,.7);
}
#iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    // border: 4px solid blue;
    border-width: 0;
}




//// Logo at the top of the page.
#banner {
    >div {
        text-align: center;
        >a {
            display: inline-block;
            position: relative; // allow `z-index: 10` to take effect
            z-index: 10; // prevent `#header` overlaying the banner
            padding-top: 8px;
            opacity: .8;
            transition: opacity .2s ease-out;
            &:hover {
                opacity: 1;
            }
            >img {
                width: 150px;
                height: 50px; // responsive
            }
        }
    }
}
@media only screen and (min-width: 40.063em) {
    #banner {
        >div {
            >a {
                >img {
                    height: 100px; // responsive
                    padding-bottom: 50px;
                }
            }
        }
    }
}




//// Header and Footer.

#header,
#footer {
    padding-top: 10px;
    .ldc-social,
    .ldc-menu,
    .ldc-legal,
    .ldc-copyright {
        text-align: center; // responsive
    }
    .ldc-menu {
        padding-bottom: 1rem; // responsive
    }
    .ldc-legal {
        padding-bottom: .5rem; // responsive
    }
    .ldc-social a {
        padding: 0 .25rem;
    }
    .ldc-menu a,
    .ldc-legal a,
    .ldc-copyright span {
        padding: 0 .5rem;
    }
}
#header {
    font-size: 2rem; // responsive
}
#footer {
    font-size: 1.2rem;
}

@media only screen and (min-width: 40.063em) {
    #header {
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 1.2rem;    // responsive
    }
    #header,
    #footer {
        padding-bottom: 10px;
        .ldc-social,
        .ldc-legal {
            text-align: left;  // responsive
            padding-bottom: 0; // responsive
        }
        .ldc-menu,
        .ldc-copyright {
            text-align: right; // responsive
            padding-bottom: 0; // responsive
        }
    }
}




.large-12.columns >img, .large-12.columns >a >img {
  width: 1100px;
  height: auto;
}




/* Sticky Footer, based on http://jsbin.com/qucet/2 and http://www.cssstickyfooter.com/ */
@footer-height: 2.5rem;
@footer-height-mobile: 4rem;

html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: @footer-height-mobile; // responsive - must be same height as the footer
}
#footer {
    position: relative;
    margin-top: -@footer-height-mobile; // responsive - negative value of footer height
    height: @footer-height-mobile; // responsive
    clear: both;
} 
@media only screen and (min-width: 40.063em) {
    #main {
        padding-bottom: @footer-height; // responsive - must be same height as the footer
    }
    #footer {
        margin-top: -@footer-height; // responsive - negative value of footer height
        height: @footer-height; // responsive
    } 
}




//// Dismiss button.
.dismiss-button {
    >div {
        text-align: right;
        position: relative; // allow `z-index: 10` to take effect
        z-index: 999;
        >a {
            padding: 0; // responsive
            font-size: 32px; // responsive
        }
    }
}
@media only screen and (min-width: 40.063em) {
    .dismiss-button {
        >div {
            >a {
                padding: 0; // responsive
                font-size: 48px; // responsive
            }
        }
    }
}




//// Xx.
.at {
    margin-top: -40px; // responsive
    // padding-top: 35px; // responsive
    border-radius: 22px; // responsive
    background-color: #333;
    h3 {
        font-size: 1.6875rem; // the natural Foundation size, which ‘AccountsTemplates’ overrides
    }
    label {
        color: #ccc;
    }
}

@media only screen and (min-width: 40.063em) {
    .at {
        margin-top: -57px; // responsive
        // padding-top: 15px; // responsive
        border-radius: 34px; // responsive
    }
}




//// Utility.
.nowrap {
    white-space: nowrap;
}