<head>
  <!-- layout.html -->

  <!-- Compatibility -->
  <meta charset="utf-8">
  <meta name="resource-type"                   content="document">
  <meta http-equiv="content-type"              content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible"           content="IE=EmulateIE10,chrome=1"><!-- Force IE10 rendering engine, or Chrome Frame if available -->
  <meta name="viewport"                        content="width=device-width, user-scalable=yes, initial-scale=1.0">
  <meta name="format-detection"                content="telephone=no">

  <!-- Seo -->
  <title>Loop.Coop Present: Looptopia</title>
  <meta name="description"                     content="A cube-shaped planet in the Loop.Coop system.">
  <meta name="keywords"                        content="Brighton, art, music, immersive, app, game, cooperative, party, festival">
  <meta name="author"                          content="Rich Plastow <infoATloop.coop>">
  <meta name="copyright"                       content="Copyright 2014 Loop.Coop">

  <!-- Facebook -->
  <meta property="og:title"                    content="Looptopia by Loop.Coop">
  <meta property="og:type"                     content="website">
  <meta property="og:url"                      content="http://looptopia.loop.coop/">
  <meta property="og:site_name"                content="Looptopia">
  <meta property="og:image"                    content="/layout/icon/lta-310x310.png">

  <!-- Favicon -->
  <link rel="shortcut icon"                       href="/layout/icon/lta-16x16.ico">

  <!-- iOS 1-6 -->
  <link rel="apple-touch-icon"                    href="/layout/icon/lta-114x114.png"><!-- iPhone, 57x57 -->
  <link rel="apple-touch-icon" sizes="114x114"    href="/layout/icon/lta-114x114.png"><!-- iPhone retina -->
  <link rel="apple-touch-icon" sizes="72x72"      href="/layout/icon/lta-144x144.png"><!-- iPad -->
  <link rel="apple-touch-icon" sizes="144x144"    href="/layout/icon/lta-144x144.png"><!-- iPad retina -->

  <!-- iOS 7+ -->
  <link rel="apple-touch-icon" sizes="60x60"      href="/layout/icon/lta-120x120.png"><!-- iPhone -->
  <link rel="apple-touch-icon" sizes="120x120"    href="/layout/icon/lta-120x120.png"><!-- iPhone retina -->
  <link rel="apple-touch-icon" sizes="76x76"      href="/layout/icon/lta-152x152.png"><!-- iPad -->
  <link rel="apple-touch-icon" sizes="152x152"    href="/layout/icon/lta-152x152.png"><!-- iPad retina -->

  <!-- Win8 -->
  <meta name="application-name"                content="Looptopia">
  <meta name="msapplication-TileColor"         content="#0b0d0c">
  <meta name="msapplication-TileImage"         content="/layout/icon/lta-144x144.png">

  <!-- IE11 -->
  <meta name="msapplication-square70x70logo"   content="/layout/icon/lta-70x70.png">
  <meta name="msapplication-square150x150logo" content="/layout/icon/lta-150x150.png">
  <meta name="msapplication-wide310x150logo"   content="/layout/icon/lta-310x150.png">
  <meta name="msapplication-square310x310logo" content="/layout/icon/lta-310x310.png">

  <!-- Analytics -->
  <script>/*
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-00000000-0']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();*/
  </script>
</head>

<template name="layout">

  <!--[if lt IE 7 ]><div id="page-top" class="no-js ie ie6 lte7 lte8 lte9 index"><![endif]-->
  <!--[if IE 7 ]><div id="page-top" class="no-js ie ie7 lte7 lte8 lte9 index"><![endif]-->
  <!--[if IE 8 ]><div id="page-top" class="no-js ie ie8 lte8 lte9 index"><![endif]-->
  <!--[if IE 9 ]><div id="page-top" class="no-js ie ie9 lte9 index"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->
  <div id="wrap" class="no-js index"><!--<![endif]-->
    <div id="main">

{{#if hasWebGL }}
      <iframe id="iframe" src="//aahdesoot-22112.onmodulus.net/"></iframe>{{! placeholder url @todo “http://loop.coop/loading.html”, which times-out to an error message after 10 seconds }}
      <div id="iframe-blocker" class="{{#if $not $.Meteor.userId}}active {{/if}}{{#if $neq currentPath '/'}}active{{/if}}"></div>
{{else}}
      <div id="ldc-alert">Looptopia needs WebGL 3D, but your browser doesn’t support it :-(</div>
{{/if}}

      <div id="ldc-header">
        <div><!-- explicit table-row -->
          {{#each widgets 'all-users'}}
          <div class="ldc-all-users">
            <a href="{{ path }}" id="{{ id }}" class="ldc-icon {{ activeIfTemplateIs tmpt}}" title="{{ title }}"><div class="ldc-icon {{ icon }}"></div><h6><span>{{#if $eq name '_username_'}}{{{ username }}}{{else}}{{{ name }}}{{/if}}</span></h6></a>
          </div>
          {{/each}}
          <div class="ldc-left-message">
            {{! <a href="/wisdom" title="Xx">Xx Lorem ipsum et wisi delor fugit aliquando</a> }}
          </div>
          <div class="ldc-banner">
            <a class="only-small" href="http://loop.coop/" title="Visit the Loop.Coop homepage"    ><img src="/layout/img/loopdotcoop-present-blue-grey-pink-v2-120x26.png" alt="Loop.Coop present"></a>
            <a class="only-small" href="/"                 title="Welcome to Looptopia public beta"><img src="/layout/img/looptopia-blue-grey-pink-v3-120x26.png" alt="Looptopia public beta"></a>
            <a class="not-small"  href="http://loop.coop/" title="Visit the Loop.Coop homepage"    ><img src="/layout/img/loopdotcoop-present-blue-grey-pink-v2-150x32.png" alt="Loop.Coop present"></a>
            <a class="not-small"  href="/"                 title="Welcome to Looptopia public beta"><img src="/layout/img/looptopia-blue-grey-pink-v3-150x32.png" alt="Looptopia public beta"></a>
          </div>
          <div class="ldc-right-message">
            {{! <span href="/you" title="{ { username } }">grenouille-embrouillé-et-magenta</span> }}
          </div>
{{#if $.Meteor.userId }}
          {{#each widgets 'registered'}}
          <div class="ldc-registered">
            <a href="{{ path }}" id="{{ id }}" class="ldc-icon {{ activeIfTemplateIs tmpt}}" title="{{ title }}"><div class="{{ icon }}"></div><h6><span>{{#if $eq name '_username_'}}{{{ username }}}{{else}}{{{ name }}}{{/if}}</span></h6></a>
          </div>
          {{/each}}
{{else}}
          {{#each widgets 'unregistered'}}
          <div class="ldc-unregistered">
            <a href="{{ path }}" id="{{ id }}" class="ldc-icon {{ activeIfTemplateIs tmpt}}" title="{{ title }}"><div class="{{ icon }}"></div><h6><span>{{{ name }}}</span></h6></a>
          </div>
          {{/each}}
{{/if}}
        </div>
      </div><!--/#ldc-header -->

      <article id="yeild">
        <tt class="x">layout.html
           {{$.Config.layout.version}}</tt>

{{#if $eq currentPath '/' }}
        <div id="ldc-push"></div>
{{else}}
        <div class="row dismiss-button">
          <div class="large-12 columns"><a href="/"><span class="cbh-cancel-circled2"></span></a></div>
        </div>
{{/if}}

        {{> yield}}{{! `yield` is a special Iron Router template }}
      </article><!--/#yeild -->

    </div><!--/#main -->
  </div><!--/#wrap -->

  <!-- #ldc-footer -->
  <div id="ldc-footer">
    <div class="small-6 columns ldc-legal">
      {{#each widgets 'footer-left'}}
      <a href="{{ path }}" id="{{ id }}" class="{{ activeIfTemplateIs tmpt}}" title="{{ title }}"><span class="{{ icon }}">{{{ name }}}</span></a>
      {{/each}}
      <a href="http://loop.coop/legal/privacy.html" target="_blank" title="Read the {{ $.Config.about.organization }} privacy policy">Privacy</a>
      <a href="http://loop.coop/legal/terms.html" target="_blank" title="Read the {{ $.Config.about.organization }} terms of use">Terms</a>
    </div>
    <div class="small-6 columns ldc-copyright">
      <span>&copy;{{ $.Config.about.year }} {{ $.Config.about.organization }}</span>
    </div>
  </div><!--/#ldc-footer -->

</template>

